/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	/*background-color: skyblue;*/
	/*background-image: linear-gradient(to right, blue, white);*/
	/*background-image:  linear-gradient(rgba(17,126,112,0.75),rgba(0,88,255,0.45));*/
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}


/*targets the element with the class container*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

/*targets the html element h1*/
h1 {

	color: #fbffc0;/*#FBBC05*//*this changes the font color of the h1 element*/
	background-color: rgba(51,51,51,0.5); /*#333333; off black*/
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 5px;
	margin-bottom: 15px;
	font-family: 'Abril Fatface', cursive;
	border-radius: 10px;
	text-shadow: 4px 4px black;
}
/*end of h1 styling*/

/*start of h2 styling*/
h2 {
	color: pink;
	background-color: rgba(51,51,51,0.5); /*#333333; off black*/
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 35px;
	font-family: 'Abril Fatface', cursive;
	padding: 10px;
	border-radius: 10px;
	text-shadow: 4px 4px black;
}
/*end of h2 styling*/

/*target the html element with the class attribute bio*/
.bio {
	color: #fbffc0;
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(51,51,51,0.5);
	font-family: 'Abril Fatface', cursive;
	text-shadow: 2px 2px black;
}
/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: pink;/*#FBBC05;*/
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
	box-shadow: 4px 4px black;
}
/*end of me*/


.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #0057a7;
  color: white;
}

/* Facebook */
.instagram {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

/* Facebook */
.fa-twitter {
  background: #00abff;
  color: white;
}

/* Facebook */
.fa-youtube {
  background: red;
  color: white;
}

/* Facebook */
.fa-whatsapp {
  background: #35ba00;
  color: white;
}

/* Facebook */
.fa-linkedin {
  background: #0e76a8;
  color: white;
}

/* Facebook */
.fa-snapchat {
  background: #fff400;
  color: white;
}

/* Facebook */
.fa-tumblr {
  background: #34526f;
  color: white;
}

.fa-pinterest {
  background: #c8232c;
  color: white;
}

.fa-spotify {
  background: #1ed761;
  color: white;
}

